/* -------------
        All Universal style
                ---------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
}
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.btn {
    text-decoration: none;
    padding: 16px 25px;
    border-radius: 5px;
    background-color: #dd0000;
    color: #fff;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

/* -------------
        Starting Banner Section Design
                ---------------- */

.banner {
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    min-height: 700px;
    margin: 20px auto;
    border-radius: 30px;
}
.banner-text {
    width: 50%;
    padding: 6%;
}
.banner-img {
    width: 50%;
    margin-top: 10px;
}
.banner-img img {
    width: 100%;
}
.banner-text p {
    margin: 40px 0;
    line-height: 1.4;
}
/* -------------
        Ending Banner Section Design
                ---------------- */

/* -------------
        Starting Match Section Design
                ---------------- */

.match-section {
    display: flex;
    margin-bottom: 100px;
    padding: 10% 0;
}

.blog-category {
    width: 400px;
    background: #000;
    color: #fff;
    max-height: 300px;
    margin-right: 30px;
    border-radius: 15px;
}
.category {
    background-color: #fff;
    min-height: 70px;
    margin: 20px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.1rem;
    color: #000;
    font-family: "Poppins", sans-serif;
}
.category a {
    text-decoration: none;
    color: #000;
    font-family: "Poppins", sans-serif;
}
.all-matches {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
}
.match {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.country-flag {
    margin: 20px 0 0 0;
}
.country-flag span {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}
.match-time {
    margin: 40px 0;
}
.match-time p {
    font-size: 16px;
    color: gray;
    letter-spacing: 1px;
}
.active {
    background: #dd0000;
    color: #fff;
}

/* -------------
        Ending Match Section Design
                ---------------- */

/* -------------
        Starting Footer Section Design
                ---------------- */
footer {
    padding: 5%;
    background: #000;
    color: #fff;
}
.footer-text h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
}
.footer-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
    flex-wrap: wrap;
}
.footer-menu p {
    margin-right: 20px;
}

/* -------------
        Ending Footer Section Design
                ---------------- */

/* -------------
        Starting Responsive Section For Tablet
                ---------------- */

@media (max-width: 768px) {
    .banner-text {
        padding: 3%;
    }
    .banner-text h2 {
        font-size: 2rem;
    }
    .banner-text p {
        font-size: 18px;
    }
    .match-section {
        flex-direction: column;
    }
    .blog-category {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background: none;
    }
    .category {
        width: 300px;
        min-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0;
        font-size: 1rem;
        padding: 5px 0;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
    }
    .all-matches {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* -------------
        Ending Responsive Design For Mobile
                ---------------- */

@media (max-width: 576px) {
    .banner {
        flex-direction: column;
    }
    .banner-text {
        width: 100%;
    }
    .banner-img {
        width: 100%;
    }
    .banner-text p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .blog-category {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .all-matches {
        grid-template-columns: repeat(1, 1fr);
    }
    .btn {
        font-size: 15px;
        padding: 10px;
    }
    .footer-menu {
        flex-direction: column;
    }
}

/* -------------
        Thank you
                ---------------- */