* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #ffffff;
}

.container {
    width: 80%;
    margin: auto;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.5;
}
h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.btn {
    text-decoration: none;
    padding: 16px 25px;
    border-radius: 5px;
    background-color: #dd0000;
    color: #fff;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

/* Starting banner section design */

.banner {
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
    min-height: 700px;
    margin: 20px auto;
    border-radius: 30px;
}
.banner-text {
    width: 50%;
    padding: 6%;
}
.banner-img {
    width: 50%;
    margin-top: 10px;
}
.banner-img img {
    width: 100%;
}
.banner-text p {
    margin: 40px 0;
    line-height: 1.4;
}
/* Ending banner section design */

/* starting blog section */


/* -------------------------------------------------------------------------------- */

.blog-section {
    display: flex;
}

.blog-category {
    width: 30%;
    background: #000;
    color: #fff;
    max-height: 300px;
    margin-right: 30px;
    border-radius: 15px;
}
.category {
    background-color: #fff;
    min-height: 70px;
    margin: 20px 20px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
    color: #000;
    font-family: "Poppins", sans-serif;
}
.category a {
    text-decoration: none;
    color: #000;
    font-family: "Poppins", sans-serif;
    /* font-size: 1.3rem; */
}
.blogs {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
}
.blog {
    border: 1px solid black;
}
.blog-text {
    padding: 5% 4%;
}
.blog-text a {
    text-decoration: none;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid black;
    padding: 10px 20px;
    color: #000;
    font-size: 20px;
}
.blog-text span{
    margin-right: 20px;
    /* margin-top: 20px; */
    display: inline-block;
    margin-top: 20px;
}
.blogs .blog .blog-img img {
    width: 100%;
}

/* ending blog section */

/* Starting footer section */
footer {
    padding: 5%;
    background: #000;
    color: #fff;
}
.footer-text h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
}
.footer-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
    flex-wrap: wrap;
}
.footer-menu p {
    margin-right: 20px;
}
/* Ending footer section */

/* Responsiveness using media query */

@media (max-width: 768px) {
    .banner-text {
        padding: 3%;
    }
    .banner-text h2 {
        font-size: 2rem;
    }
    .banner-text p {
        font-size: 18px;
    }
    .blog-section {
        flex-direction: column;
    }
    .blog-category {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background: none;
    }
    .category {
        width: 300px;
        min-height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid black; */
        text-align: center;
        border-radius: 0;
        font-size: 1rem;
        padding: 5px 0;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9);
    }
    .blogs {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .banner {
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
    }
    .banner-img{
        width: 100% ;
    }
    .banner-text p{

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .blog-category {
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    .blogs {
        /* width: 100%; */
        grid-template-columns: repeat(1, 1fr);
    }
    .btn {
        font-size: 15px;
        padding: 10px;
    }
    .footer-menu{
        flex-direction: column;
    }
}
